body {
  font-family: 'Source Code Pro', monospace;
  padding: 20px 70px;
  background-color: lightslategray;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.app-background {
  
}